<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class='navbar-brand' [routerLink]="['/home']">Jello</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="main-nav" class="navbar-collapse collapse">
            <ul class='navbar-nav'>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>